<div data-role="page" id="backlog">
    <div data-role="header" data-position="fixed">
        <h1>Backlogs</h1>
    </div>
    <div role="main" class="ui-content">
        <div id="backlog_container">

        </div>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="#backlog">Backlog</a></li>
                <li><a href="#newbacklog">New</a></li>
            </ul>
        </div>
    </div>
</div>

<div data-role="page" id="newbacklog">
    <div data-role="header" data-position="fixed">
        <h1>New Backlog</h1>
    </div>
    <div role="main" class="ui-content">
        <form id="newbacklog_form">
            <div class="ui-field-contain">
                <label for="code">Story Code</label>
                <input type="text" name="code" id="code"
                    placeholder="Story Code" />
                <br/>
                <label for="description">Story</label>
                <textarea rows=8 cols=40 name="description"
                id="description" placeholder="Story"></textarea>
                <br/>
                <label for="owner">Owner</label>
                <input type="email" name="owner" id="owner"
                    placeholder="Owner Email" />
                <br/>
                <label for="storypoints">Story Points</label>
                <input type="range" name="storypoints" id="storypoints"
                    value=1 min=1 max=10 step=1 />
                <br/>
                <button id="btnNewStory">Submit Story</button>
            </div>
        </form>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="#backlog">Backlog</a></li>
                <li><a href="#newbacklog">New</a></li>
            </ul>
        </div>
    </div>
</div>

<div data-role="page" id="backlogdetail">
    <div data-role="header" data-position="fixed">
        <h1>Backlog Story</h1>
    </div>
    <div role="main" class="ui-content">
            <div>
                <div class="label">Story Code</div>
                <div class="valHld" id="d_code">&nbsp;</div>
                <div class="label">Story</div>
                <div class="valHld" id="d_description">&nbsp;</div>
                <div class="label">Owner</div>
                <div class="valHld" id="d_owner">&nbsp;</div>
                <div class="label">Story Points</div>
                <div class="valHld" id="d_storyPoints">&nbsp;</div>

                <a href="#picUpload" data-role="button">Add Evidence</a>
            </div>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="#backlog">Backlog</a></li>
                <li><a href="#newbacklog">New</a></li>
            </ul>
        </div>
    </div>
</div>


<div data-role="page" id="picUpload">
    <div data-role="header" data-position="fixed">
        <h1>Upload Pic</h1>
    </div>
    <div role="main" class="ui-content">
        <div class="ui-field-contain">
            <h4>Add Evidence File</h4>
            <input type="file" name="userpic" id="userpic"/>
            <br/>
            <button id="btnUploadPic">Upload</button>
        </div>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="#backlog">Backlog</a></li>
                <li><a href="#newbacklog">New</a></li>
            </ul>
        </div>
    </div>
</div>
